/* Für mobile Geräte */
@media only screen and (max-width: 350px) {
    .header, .body {
        margin-bottom: 10px;
    }

    .header img {
        width: 50px;
    }

    .body img {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

/* Für Tablet-Geräte */
@media only screen and (min-width: 351px) and (max-width: 780px) {
    .header, .body {
        margin-bottom: 15px;
    }

    .header img {
        width: 75px;
    }

    .body img {
        width: 60%;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    }
}

/* Für Laptop-Geräte */
@media only screen and (min-width: 781px) {
    .header, .body {
        margin-bottom: 20px;
    }

    .header img {
        width: 100px;
    }

    .body img {
        width: 40%;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    }
}


.header, .body {
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: italic;
    border-radius: 5%;
}

.button:hover {
    cursor: pointer;
}

.header button:first-child {
    background-color: #7cb9fa;
    color: white;
}

.header button:last-child {
    color: #7cb9fa;
}

.header button:hover:first-child {
    background-color: #245c9c;
}

.header button:hover:last-child{
    background-color: #828282;
}

.header img {
    aspect-ratio: 1;
    max-width: 100%;
    width: 100px;
    height: auto;
    aspect-ratio: auto;
}

.body button {
    background-color: gray;
    color: white;
}

.body img {
    aspect-ratio: auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 5px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    float: left;
}

.header button {
    margin-right: 20px;
}

.body {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body h3 {
    font-size: medium;
}

.body img {
    width: 40%;
}

.body button {
    margin: 10px;
}

.description button:hover{
    background-color: rgb(0, 0, 0);
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    width: 30%;
    margin: 10px;
    aspect-ratio: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    gap: 10px;
    border-color: gray;
    border: 0px solid grey;
}

.grid-item {
    width: 100%;
    position: relative;
    border: 0px solid grey;
}

.grid-item img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    margin-left: 20px;
}
